body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.wrapper {
    text-align: center; 
}

header {
    background: #ebebeb;
    width: 495px;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 10px;
}

nav {
    background: #ebebeb;
    width: 495px;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 10px;
}

#section {
    background: #ebebeb;
    text-align: center;
    width: 495px;
    width: 30%;
    padding: 20px; 
    height: 200px;
    float: left;
}



#article {
    background: #777777;
    color: #ebebeb;
    text-align: center;
    float: left;
    position: absolute;
    width: 495px;
    width: 18%; 
    left: 20px;
    height: 150px;
    padding: 20px;
    z-index: 100;
}

.h1 {
    background: #ebebeb;
    color: #777;
    width: 495px;
    width: 100%;
    float: left;
    padding: 10px;
    right: 10px;
    position: relative;
    }

#p {
    background: #ebebeb;
    color: #777;
    width: 495px;
    width: 100%;
    float: left;
    padding: 10px;
    height: 10px;
    right: 10px;
    position: relative;
}

#aside {
    background: #ebebeb;
    text-align: center;
    color: #777777;
    width: 495px;
    width: 19.5%;
    height: 240px;
    position: relative;
    right: -20px;
    float: left;
}

footer {
    background: #ebebeb;
    color: #777;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    margin-top: 10px;
    width: 495px;   
    bottom: 295px;
    position: fixed;
}